.movie {
  padding: 0.5rem;
  width: calc(100% / 10);
  /* height: 260px; */
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.img__container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.movie__img {
  object-fit: cover;
  aspect-ratio: 9/16;
  width: 100%;
  /* height: 190px; */
  transition: all 0.3s ease-in-out;
}

.img__overley {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.img__overley img {
  width: 50px;
}

.img__container:hover .img__overley {
  opacity: 0.7;
}
.img__container:hover .movie__img {
  transform: scale(1.2);
  /* filter: blur(1px); */
}
.movie__rate {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 300;
  bottom: 0px;
  right: 0px;
  margin-bottom: -40px;
  z-index: 10;
  transition: 0.3s;
}

.img__container:hover .movie__rate {
  margin-bottom: 0;
}

.movie__info {
  padding: 10px 0;
  line-height: 7px;
}
.movie__title {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.2s ease;
}
.movie__info:hover .movie__title {
  color: #408bea;
}

.movie__year {
  font-size: 12px;
}

@media only screen and (max-width: 1380px) {
  .movie {
    width: calc(100% / 6);
  }
}

@media only screen and (max-width: 1100px) {
  .movie {
    width: calc(100% / 4);
  }
}

@media only screen and (max-width: 576px) {
  .movie {
    width: calc(100% / 3);
  }
}
