.pagination {
  margin-top: 15px;
  justify-content: center;
  background-color: #000000;
  user-select: none;
  font-size: 18px;
  font-weight: 300;
}
.page-item {
  background-color: #000000;
}

.page-link {
  background-color: #000000;
  border: none;
  color: rgba(255, 255, 255, 0.6);
}
.page-link:hover {
  background-color: #000000;
  color: #0d6efd;
}
.page-link:focus {
  background-color: #000000;
  box-shadow: none;
}

.page-item.disabled .page-link {
  background-color: #000000;
  border: none;
}
.page-item.active .page-link {
  background-color: #000000;
  border: none;
  font-weight: 800 !important;
  font-size: 18px;
  color: #0d6efd;
}
