.tv {
  padding: 0.5rem;
  width: calc(100% / 12);
  /* height: 260px; */
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

.tv-img__container {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.tv__img {
  object-fit: cover;
  aspect-ratio: 11/16;
  width: 100%;
  /* height: 190px; */
  transition: all 0.3s ease-in-out;
}

.tv-img__overley {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  transition: all 0.3s ease-out;
  opacity: 0;
}

.tv-img__overley img {
  width: 50px;
}

.tv-img__container:hover .tv-img__overley {
  opacity: 0.7;
}
.tv-img__container:hover .tv__img {
  transform: scale(1.2);
  /* filter: blur(1px); */
}
.tv__rate {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  padding: 0px 10px;
  font-size: 14px;
  font-weight: 300;
  bottom: 0px;
  right: 0px;
  margin-bottom: -40px;
  z-index: 10;
  transition: 0.3s;
}

.tv-img__container:hover .tv__rate {
  margin-bottom: 0;
}

.tv__season-no {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2px 4px;
  color: #fff;
  left: 0;
  bottom: -3px;
  font-size: 14px;
  font-weight: 500;
}

.tv__info {
  padding: 10px 0;
  line-height: 7px;
}
.tv__title {
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: 0.2s ease;
}
.tv__info:hover .tv__title {
  color: #408bea;
}

.tv__year {
  font-size: 12px;
}

@media only screen and (max-width: 1380px) {
  .tv {
    width: calc(100% / 8);
  }
}

@media only screen and (max-width: 1100px) {
  .tv {
    width: calc(100% / 6);
  }
}

@media only screen and (max-width: 576px) {
  .tv {
    width: calc(100% / 4);
  }

  .tv__title {
    font-size: 12px;
  }

  .tv__season-no {
    font-size: 10px;
  }
  .tv__rate {
    font-size: 10px;
    padding: 0px 5px;
  }
  .tv-img__overley img {
    width: 30px !important;
  }
}
