[data-arrow="left"] {
  color: #fff;
  font-size: 15px;
  margin-top: 0px;
  left: 0;
  cursor: pointer;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  padding: 0px 14px 3px 09px;
  border-radius: 15px;
}

[data-arrow="right"] {
  color: #fff;
  font-size: 15px;
  margin-top: 0px;
  right: 0;
  cursor: pointer;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  padding: 0px 10px 3px 10px;
  border-radius: 15px;
}
.category {
  margin: 10px 5px 10px 5px;
  font-size: 12px;
  font-weight: 500;
  background: rgba(235, 202, 202, 0.1);
  padding: 5px 10px;
  border-radius: 10px;
}
.styles-module_slider__o0fqa {
  height: 27px;
}
